[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
coverage = "*"
xmldiff = "*"
"flake8" = "*"
pylint = "*"
twine = "*"
pytz = "*"

[requires]
python_version = "3.7"
