[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
coverage = "*"
xmldiff = "*"
"flake8" = "*"
pylint = "*"
twine = "*"
pytz = "*"
pylint-unittest = "*"
"flake8-deprecated" = "*"
"flake8-super-call" = "*"
"flake8-alfred" = "*"
"flake8-imports" = "*"
"flake8-builtins" = "*"
"flake8-blind-except" = "*"
"flake8-logging-format" = "*"
"flake8-docstrings" = "*"

[requires]
python_version = "3.7"
